h1 {
    margin-bottom: 1rem;
}

body {
    max-width: 800px;
    margin: 1rem auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#shopping-list {
    max-width: 500px;
    margin: 1rem auto;
    padding: 1rem 2.5rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    list-style-position: inside;
    font-size: 1.5rem;
}

.shopping-list-item {
    background-color: lightblue;
}